header{
    text-align: center;
    color: cadetblue;
    background-color:whitesmoke;
    padding: 5px;
    border-top: 10px;
    border-radius: 50px;
    border-color: black;
    margin-top:     10px;
    margin-bottom: 0px;
    padding: 5px;
    text-transform: uppercase;
}

main{
    background-color:azure;
    margin-top: 0px;
}
.message{
    background-color:ghostwhite;
    color:darkseagreen;
    font-weight: 900;
    font-style: oblique;
    text-shadow: 100rem;
    text-justify: inter-cluster;
}
h4{
    text-align: center;
    color:cornflowerblue;
    padding: 5px;
    border-top: 0px;
    margin-top: 10px;
    
}